@import 'tailwindcss';
@import './kartureview.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
@layer base {
    body {
        font-family: var(--font-sans);
        background: linear-gradient(135deg, #e8f3ff 0%, #ffffff 100%);
        color: #333;
    }
    
}