.brand-section {
    margin: auto;
    text-align: center;
}

.brand-title {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 28px;
    color: #000;
}

/* GRID 2 BARIS */
.brand-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 baris (4 x 2) */
    align-items: center;
    justify-items: center;
}

/* LOGO BESAR */
.brand-logos img {
    max-height: 150px;   /* diperbesar */
    max-width: 200px;
    object-fit: contain;
    transition: transform 0.25s ease;
}

/* HOVER */
.brand-logos img:hover {
    transform: scale(1.08);
}

