
/* ITEM */
.category-item {
    width: 140px;
    text-align: center;
    cursor: pointer;
}

/* BLUE CIRCLE */
.circle-bg {
    width: 110px;
    height: 110px;
    background: #1E88E5;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    box-shadow:
        0 8px 20px rgba(30, 136, 229, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PRODUCT IMAGE */
.product-img {
    width: 90px;
    position: absolute;
    top: 9px;
    transition: transform 0.25s ease;
    left: 8px;
}

/* TEXT */
.category-name {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

/* HOVER EFFECT */
.category-item:hover .product-img {
    transform: scale(1.05);
}
